@use 'sass:color';


/*Обнуление*/
@import 'nullifier.scss';
/*--------------------*/

$light-red: color.adjust(red, $lightness: 20%);
$complement: color.adjust(red, $hue: 180deg);
$grad_blue:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(66,216,255,1) 0%, rgba(72,32,255,1) 100%, rgba(51,0,255,1) 100%);

%tipicalLink{
	border: 1px solid blue;
}
$fz:2em;
@mixin fontsize($f, $fw){
	font-size: $f;
	font-weight: $fw;
}

$colors: (
  color1: #FA6ACC,
  color2: #F02A52,
  color3: #09A6E4
);

.sass-color{
	color:red;
	font-size:2em;
	span{
		color: green;
	}
}
.difference{
	justify-content: center;
	display: flex;
	
	.diff-col{
		width: 20%;
		background: rgba(255,0,0,0.1);
		span{
			font-weight: 600;
		}
	}
}
.more-dif{
	p{
		text-align: center;
	}
	>p{
		color: red;
	}
	&:hover{
		background: rgba(255,0,0,0.1);
	}

}
.square-wrapper{
	margin-top: 1%;
	display: flex;
	justify-content: center;
	.square{
		width: 150px;
		height: 150px;
		transition-property: all;
		background: rgb(2,0,36);
		background: $grad_blue;
		text-align: center;
		color: white;
		font-weight: 600;
		font-size: 1.5em;
		&:hover{
			width: 250px;
			height: 250px;
			transition: 0.4s;
		}
	}
}
.patterns{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.link-1{
	font-size: 2em;
	margin: 20px 20px;
	@extend %tipicalLink;
}
.link-2{
	@include fontsize(2em, 600);
	@extend %tipicalLink;
}
.math{
	background: pink;
	width: 300px / 960px * 100%;
	height: 200px * 0.5;
	margin-left: (100% - (300px / 960px * 100%))/2;
}
.map1{
	background-color: map-get($colors, color1);
	font-size: $fz;
	& + span{
		color: green;
		font-size: $fz;
	}
}
.map2{
	background-color: map-get($colors, color2);
	font-size: $fz;
}
.map3{
	background-color: map-get($colors, color3);
	font-size: $fz;
}
.colormodule{
	background-color: $light-red;
	color: $complement;
	font-size: $fz;
}